/*=== CONTAINER STYLES ===*/
.main-containpages{padding: 0px; }
.heading-menubar{margin-bottom: 20px; display: block; } 
.navbar-inverse {background-color: #e4e4e4 !important; border-color: #c7c7c7 !important; } 
.navbar-inverse .navbar-brand{color: #565656 !important; }
.navbar-inverse .navbar-nav>li>a{color: #313131 !important; }
.navbar-inverse .navbar-nav>li>a:active{color: #fff!important; } 
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {color: #000 !important; background-color: #f5f5f5 !important; border-left: 1px solid #9e9e9e !important; border-right: 1px solid #9e9e9e !important; } 
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{background-color: #cacaca !important; } 
.margin-push-40{margin-right:40px; } 
.btn{display:inline-block;*display:inline;*zoom:1;padding:4px 12px;margin-bottom:0;font-size:14px;line-height:20px;*line-height:20px;text-align:center;vertical-align:middle;cursor:pointer;color:#333333;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);background-color:#f5f5f5;background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);background-image:linear-gradient(to bottom, #ffffff, #e6e6e6);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#e6e6e6;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);border:1px solid #cccccc;*border:0;border-bottom-color:#b3b3b3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;*margin-left:.3em;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);}
.btn:hover,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{color:#333333;background-color:#e6e6e6;*background-color:#d9d9d9;}
.btn-basic-clenaer{color: #fff !important; background-color: #111113 !important; border-color: #0a0a0a !important; } 
.clearfix-bottom{margin-bottom: 100px;display: inline-block;}
.box-detailtransaction_out{border: 1px solid #cecece; padding: 14px; background: #fdfdfd; border-top: 5px solid #000; }
/*=== CUSTOM UI TRANSACTION ===*/
.transaksi-nonota{color:#ff0000;font-weight:bold;font-size:15px;margin-left:50px;}
.transaksi-tanggal{margin-left: 57px;}
.transaksi-namakasir{margin-left: 75px;}
.panel-default {border-color: #f5f5f5;}
.transaksi-clock{margin-left: 74px;}
/* === NOTIFIER HEADING ===*/
.heading-notifier-transaction{font-size: 17px; color: red; position: relative; top: -2px; }
/*========= CUSTOM CSS CASHIER ==========--*/
.transaksi-nonota{color:#ff0000;font-weight:bold;font-size:15px;margin-left:50px;}
.transaksi-tanggal{margin-left: 57px;}
.transaksi-namakasir{margin-left: 75px;}
.panel-default {border-color: #f5f5f5;}
.transaksi-clock{margin-left: 74px;}
/*========== CUSTOM BOX SHADOW DAHSBOARD CAHSIER ==========*/
.logobasic-center .logos-shadow{box-shadow: 0px 0px 3px #bfbfbf; } 
.custom-innerstyles{padding: 20px;border: 1px solid #ddd; } 
/*=================== CUSTOM HEADING TABLES ================*/
.custom-headtables-globalconf{background-color: #000; color: #fff; }
#adding-services{margin-top: 25px; }
.error{font-size: 13px; color:red; }
.show-elem{display: block !important; } .hidden-elem{display: none; }
/*======================== PAGE HEADER MEMBER ======================*/
.section-padd-header .heading-member{padding: 15px 20px; } 
.heading-member .size-heading-member h4{font-size: 28px; } 
/*========== CONTAINER ITEMS TRANSACTION ====================*/
#main-transaction-items{padding: 10px;border-bottom: 1px solid #ababab; width: 100%; margin-left: 1px; }
.adding-shoes{position: relative; top:25px; left: 0px; right: 0px; bottom: 0px; }
.status-barang-ambil{background-color: #50ce00; color: #fff; } 
.status-barang-belum-diambil{background-color: #ce0027; color: #fff; }
.main-inner-services{border:1px solid #cccccc; padding:20px; } 
.main-inner-services .heading-services h4{position: relative; left: 14px; }